git rm --cached Consignes/consigne_pdf.png
git rm --cached Consignes/consignes.png
git rm --cached Consignes/Screenshot_1.png
git rm --cached Consignes/Screenshot_2.png
git rm --cached Consignes/MVC.png